[submodule "altered"]
	path = altered
	url = https://github.com/DorianGerardin/Altered_Counter.git
[submodule "loupgarou"]
	path = loupgarou
	url = https://github.com/DorianGerardin/LoupGarou_SpeechSynthesis.git
[submodule "battleship_ai"]
	path = battleship_ai
	url = https://github.com/DorianGerardin/battleship_ai.git
[submodule "diceroll"]
	path = diceroll
	url = https://github.com/DorianGerardin/DiceRoll.git
